html {
    background-color: #fff;
    color: #333;
}

body {
    font-family: 'Nunito Sans';
}

header {
    background-color: #000;
    color: #fff;
    padding-left: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
}


div#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

div.form {
    width: 50%;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    opacity: 1;
    z-index: 1000;
}

.toast-success {
    background-color: #d4edda;
    color: #155724;
}

.toast-error {
    background-color: #f8d7da;
    color: #721c24;
}

.toast:hover {
    cursor: pointer; /* Indicate that it can be dismissed */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    text-transform: uppercase;
}

p {
    font-family: 'Nunito Sans'
}

button {
    background-color: #ef060a;
    color: #333;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0px;
    border-radius: 0;
    outline: 0;
    vertical-align: middle;
}


form input {
    appearance: none;
    background-color: #fff;
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #454545;
    display: block;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
    margin: 0px;
    margin-bottom: 20px;
    padding: 12.5px 30px;
    -webkit-transition: border-color .1s ease-out;
    transition: border-color .1s ease-out;
    width: 100%;
}

form label {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 7px;
}